body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}


body {
  background-color: black; 
  color: #ece0e0; 
  font-family: Arial, sans-serif; 
}

/* Styling for the Gasper word */
.gasper-word {
  font-size: 3em; 
  color: #61dafb; /* Neon blue-green color */
  text-shadow: 0 0 10px #61dafb, 0 0 20px #61dafb, 0 0 30px #61dafb; 
  text-align: center; /* Center the text horizontally */
  margin-top: 50px; /* Add space from the top */
}

/* Media query for small screens */
@media (max-width: 576px) {
  /* Adjust Gasper word size for small screens */
  .gasper-word {
    font-size: 2em;
  }
}

/* Media query for medium screens */
@media (min-width: 577px) and (max-width: 992px) {
  /* Adjust Gasper word size for medium screens */
  .gasper-word {
    font-size: 2.5em;
  }
}

/* Media query for large screens */
@media (min-width: 993px) {
  /* Adjust Gasper word size for large screens */
  .gasper-word {
    font-size: 3em;
  }
}